.account > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 14px;
    background: gainsboro;
    width: 100%;
    padding: 4px 10px;
    margin: 15px -10px;
  }
  
  .main_head_account {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    position: relative;
  }
  
  .main_head_account::before {
    content: "";
    background: #800000;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
  }
  
  .main_section_account {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
    position: relative;
  }
  
  .account {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: 37%;
    width: 400px;
    -webkit-box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
            box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }
  
  .account .label {
    margin-right: 360px;
  }
  
  .account > h2 {
    font-family: "Asap", sans-serif;
    font-size: 26px;
    text-align: center;
    padding-bottom: 10px;
  }

    .account > button {
        font-family: "Asap", sans-serif;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        width: 80px;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 5px;
        background-color: #800000;
        ;
    }
  
  .account > button:hover {
    background-color: #f24353;
  }
  